<div class="wrap" role="main">
  <h1 role="heading">Web Coding Challenge</h1>
  <form class="login-form" [formGroup]="formGroup" (ngSubmit)="register()">
    <div class="form-header">
      <ng-container *ngIf="fullName$ | async as fullName">
        <h2 >Welcome {{ fullName }}</h2>
      </ng-container>
    </div>
    <div class="form-body">
      <div class="control">
        <label for="firstName" [ngClass]="{ error: firstName.invalid && firstName.touched }"
          >First Name <span aria-hidden="true" class="asterisk">*</span></label
        >
        <input
          id="firstName"
          name="firstName"
          type="text"
          formControlName="firstName"
          aria-required="true"
        />
        <div *ngIf="firstName.hasError('required') && firstName.touched" class="error">
          FirstName field is required
        </div>
      </div>
      <div class="control">
        <label for="lastName" [ngClass]="{ error: lastName.invalid && lastName.touched }"
          >Last Name <span aria-hidden="true" class="asterisk">*</span></label
        >
        <input
          id="lastName"
          type="text"
          name="lastName"
          formControlName="lastName"
          aria-required="true"
        />
        <div *ngIf="lastName.hasError('required') && lastName.touched" class="error">
          LastName field is required
        </div>
      </div>
      <div class="control">
        <label for="email"  [ngClass]="{ error: email.invalid && email.touched }"
          >Email <span aria-hidden="true" class="asterisk">*</span></label
        >
        <input
          id="email"
          type="email"
          name="email"
          formControlName="email"
          autocomplete="email"
          aria-required="true"
        />
        <div *ngIf="email.hasError('required') && email.touched" class="error">
          Email field is required
        </div>
        <div *ngIf="email.hasError('pattern') && email.touched" class="error">
          Email is not valid
        </div>
      </div>

      <div class="password-container">
        <label for="new-password"  [ngClass]="{ error: password.invalid && password.touched }"
          >Password <span aria-hidden="true" class="asterisk">*</span></label
        >
        <input
          autocomplete="new-password"
          id="new-password"
          type="password"
          formControlName="password"
          name="new-password"
          aria-describedby="password-constraints"
          aria-required="true"
          #passwordRef
        />
        <i
          [ngClass]="{
            'gg-eye': passwordRef.type === 'password',
            'gg-eye-alt': passwordRef.type === 'text'
          }"
          tabindex="0"
          role="button"
          aria-label="Show password as plain text. Warning: this will display your password on the screen."
          #togglePasswordRef
          (keyup.enter)="showPassword(passwordRef, togglePasswordRef)"
          (click)="showPassword(passwordRef, togglePasswordRef)"
        ></i>
      </div>

      <div [ngClass]="{ error: password.invalid && password.touched }" id="password-constraints">
        Eight or more characters, with at least one lowercase and one uppercase
        letter.
      </div>
      <div *ngIf="formGroup.hasError('notContains')" class="group-error">
        {{ formGroup.getError("notContains") }}
      </div>

      <button role="button" type="submit" [disabled]="formGroup.invalid" [attr.aria-disabled]="formGroup.invalid">
        Sign up
      </button>
    </div>
  </form>
</div>
