.wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  form {
    width: 350px;
    margin: 0 auto;
    padding: 2rem;
    .form-header {
      text-align: center;
      margin-bottom: 2rem;
      min-height: 20px;
    }
    .form-body {
      display: flex;
      flex-direction: column;
      .control {
        margin-bottom: 1rem;
      }
      label{
        color: var(--secondary);
        span.asterisk {
          position: absolute;
          margin-left: 0.2em;
          content: "*";
          color: var(--invalid);
        }
      }

      .password-container {
        position: relative;
        label.error{
          color: var(--invalid);
        }
      }
      .error {
        color: var(--invalid);
      }
      .group-error{
        margin-top: 1rem;
        padding: 0.5rem;
        background-color: var(--invalid);
        color: white;
      }
      input {
        background: #fafafa;
        border: 1px solid #eeeeee;
        border-radius: 4px;
        padding: 12px;
        width: 100%;
        &.ng-touched.ng-invalid {
          border: 1px solid var(--invalid);
        }
      }
      i {
        cursor: pointer;
        position: absolute;
        top: 50%;
        right: 4%;
        cursor: pointer;
      }
      button[type="submit"] {
        background: var(--primary);
        margin-top: 1rem;
        border: 1px solid #ddd;
        color: white;
        padding: 10px;
        width: 100%;
        text-transform: uppercase;
        &[disabled] {
          background-color: #eeeeee;
          color: var(--secondary);
          cursor: not-allowed;
        }
        :hover {
          background: var(--secondary);
        }
      }
    }
  }
}
