@import url('https://unpkg.com/css.gg@2.0.0/icons/css/eye.css');
@import url('https://unpkg.com/css.gg@2.0.0/icons/css/eye-alt.css');


*{
  box-sizing: border-box;
  font-size:18px;
}
body{
  color: var(--primary);
  background: var(--background);
}

:root{
  --primary: #0656b1;
  --secondary: #353535;
  --invalid: #7B0C17;
  --background: #fefefe;
}









